<table width="100%" align="center" border="0" style="border-collapse:collapse">
    <tr style="background-color: #cccccc" valign="middle">
        <td height="25px" width="35px">
            <div class="fb">
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
                <script type="text/javascript">
                    document.write('<fb:like layout="button_count" show_faces="false" width="100"></fb:like>')
                </script>
            </div>
        </td>
        <td width="5px">
            <!-- Place this tag where you want the share button to render. -->
            <div class="g-plus" data-action="share" data-annotation="bubble" data-height="15">
            </div>
            <!-- Place this tag after the last share tag. -->
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </td>
        <td width="35px">
            <div class="tweet">
                <a href="http://twitter.com/share" data-url="" class="twitter-share-button" data-count="horizontal">
                    Tweet</a>
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </div>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td align="right">
            Blog | About | Support | Terms of Service | Privacy | &copy; eeSea 2012
        </td>
        <td width="5px">
        </td>
    </tr>
</table>
